@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 90%;
    margin: auto;
}

.selected {
    box-shadow: 10px 10px 10px #959595;
    background-color: #008BBF;
    color: #FFFFFF;
}

input{
    outline: none;
}


.selected .changed {
    color: #FFFFFF;
}

.selected .text_data {
    color: #FFFFFF;
}

@media screen and (max-width:1300px) {
    .queries {
        flex-direction: column;
    }

    .queries .response {
        width: 90%;
        margin: auto;
    }
}

.labled {
    align-items: center;
}

.unckecked {
    width: 17.5px;
    height: 17.5px;
    margin-left: 8px;
}
.ckecked {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
input{
    outline: none;
}

textarea{
    outline: none;
    resize: none;
}

.setDatas {
    transform: translate(-50%,-50%);
}

.main_class{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
::placeholder {
        color: #008BBF !important;
        opacity: 1 !important; 
}


