@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 90%;
    margin: auto;
}

.selected {
    box-shadow: 10px 10px 10px #959595;
    background-color: #008BBF;
    color: #FFFFFF;
}

input {
    outline: none;
}


.selected .changed {
    color: #FFFFFF;
}

.selected .text_data {
    color: #FFFFFF;
}

@media screen and (max-width:1300px) {
    .queries {
        flex-direction: column;
    }

    .queries .response {
        width: 90%;
        margin: auto;
    }
}

.labled {
    align-items: center;
}

.unckecked {
    width: 17.5px;
    /* height: 17.5px; */
    margin: auto;
}

.ckecked {
    width: 21.8px;
    /* height: 20px; */
    margin: auto;
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

.setDatas {
    transform: translate(-50%, -50%);
}

.main_class {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::placeholder {
    color: #008BBF !important;
    opacity: 1 !important;
    font-weight: 400;
}

.tickbox::after {
    border: solid #008BBF !important;
}


input[type="checkbox"] {
    accent-color: white;
}

/* color: #008BBF !important;
    opacity: 1 !important;
} */

@media screen and (max-width:1600px) {
    .main_div {
        flex-direction: column;
    }
}


@media screen and (max-width:1024px) {
    .new_class {
        flex-direction: column;
    }
}


@media screen and (max-width:1024px) {
    .res_data {
        width: 519px;
        padding-top: 30px;
    }
}



@media screen and (max-width:1024px) {
    .set_class_data {
        margin-right: 0px !important;
    }
}


@media screen and (max-width:600px) {
    .change_res {
        width: 400px !important;
    }
}

input:hover {
    border: 0.3px solid #008BBF !important;
}

select:hover {
    border: 0.3px solid #008BBF !important;
}

input[type="checkbox"]:hover {
    border: 0.3px solid #008BBF !important;
}

textarea:hover {
    border: 0.3px solid #008BBF !important;
}

.hov-inp:hover {
    border: 0.3px solid #008BBF !important;
}

select {
    -webkit-appearance: none;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    color: #008BBF;
    background-image: url(/images/drop.png);
    /* background-size: cover; */
    background-position: right;
    background-position-y: 50%;
    background-position-x: calc(100% - 25px);
    background-repeat: no-repeat;
}

.borr {
    border: 2px solid #EBF7FC;
    filter: blur(1.5px);
}

/* .--toastify-toast-width{
    
} */

.Toastify__toast {
    width: 450px !important;
}

.Toastify__toast-container {
    width: 450px !important;
}

@media screen and (max-width:1400px) {
    .Toastify__toast {
        width: 350px !important;
    }

    .Toastify__toast-container {
        width: 350px !important;
    }
}


/* @media screen and (max-width:1400px) {
    .Toastify__toast {
        width: 450px !important;
    }

    .Toastify__toast-container {
        width: 450px !important;
    }
} */

body {
    -webkit-touch-callout: none;
    /* Disable callout on iOS */
    -webkit-user-select: none;
    /* Disable selection on iOS */
    -khtml-user-select: none;
    /* Disable selection on old Konqueror browsers */
    -moz-user-select: none;
    /* Disable selection on Firefox */
    -ms-user-select: none;
    /* Disable selection on Internet Explorer */
    user-select: none;
    /* Disable selection on modern browsers */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.adjust_modal {
    width: 650px;
}


@media screen and (max-width:768px) {
    .adjust_modal {
        width: 90%;
    }
}

.new_check[type="checkbox"] {
    accent-color: #008BBF;
}