@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 90%;
    margin: auto;
}

.selected {
    box-shadow: 10px 10px 10px #959595;
    background-color: #008BBF;
    color: #FFFFFF;
}


.selected .changed {
    color: #FFFFFF;
}

.selected .text_data {
    color: #FFFFFF;
}

@media screen and (max-width:1300px) {
    .queries {
        flex-direction: column;
    }

    .queries .response {
        width: 90%;
        margin: auto;
    }
}